.vs/


bin/
obj/


publish/


.vs/
.vscode/


*.user
*.suo
*.userosscache
*.sln.docstates


.idea/


*.nupkg
*.snupkg
packages/


*.log
*.tmp
*.temp

*.vsix
*.pdb


secrets.json


docker-compose.override.yml
docker-compose.*.yml


*.vspscc
*.vssscc


_ReSharper*/
*.DotSettings.user

*.dbmdl

node_modules/

wwwroot/users/*
wwwroot/games/*

!/wwwroot/images/default-profile.png
